.form {
   &__input {
      width: 300px;
      padding: 12px 24px;
      background-color: #F5F6FB;
      border: none;
      border-radius: 50px;
      outline: none;
      @media (max-width: 476px) {
         width: 100%;
         margin-bottom: 12px;
      }
   }

   &__button {
      margin-left: -35px;
      @media (max-width: 476px) {
         margin-left: 0px;
         width: 100%;
      }
   }

   &__tile {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__img {
      @media (max-width: 1248px) {
         max-width: 480px;
         padding: 0 12px;
         margin-bottom: 40px;
      }
      @media (max-width: 476px) {
         max-width: 320px;
      }
   }
}
