.grid {

   &__container {
      max-width: 1135px;
      margin: 0 auto 130px;
      padding: 0 15px;
   }
 
   &__header {
   }

   &__list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 60px 95px;
      margin: 70px auto 0px;
      @media (max-width: 1248px) {
         max-width: 750px;
         grid-template-columns: 1fr 1fr;
      }
      @media (max-width: 615px) {
         max-width: 390px;
         grid-template-columns: 1fr;
      }
   }

   &__item {
      max-width: 310px;
   }

   &__icon {
      position: absolute;
   }
}

