<div class="hero__tiles wrapper">
   <div class="hero__tile form__tile">
      <img class="hero__img form__img" src="img/form/meeting.png" alt="Девушка с кофе в руках улыбвается в сторону камеры">
   </div>
   <div class="hero__tile text">
      <div class="text__prehead text__prehead-form">SAVE MORE TIME</div>
      <div class="text__headline text__headline-form">And Boost Productivity</div>
      <div class="text__desc text__desc-form">Your employees can bring any success into yourbusiness, so we need to take care of them</div>
      <form class="hero__form form">
         <input type="text" class="form__input" placeholder="Email Address">
         <input type="submit" class="button button_blue form__button" value="Get Started"></input>
      </form>
   </div>
</div>